.input-button-transparan{
    position: absolute;
    right: 0;
    z-index: 1;
    color: #2b57b7
  }
  
  @media (max-width: 768px) {
    .input-button-transparan{
      position: relative;
    }
    .m-no-flex{
      display: none !important;
    }
    .m-mt-0{
      margin-top: 0px !important;
    }
    .m-mb-0{
      margin-bottom: 0px !important;
    }
    .m-mr-0{
      margin-right: 0px !important;
    }
    .m-ml-0{
      margin-left: 0px !important;
    }
    .m-m-0{
      margin: 0px !important;
    }
  }
  .fw-bold{
    font-weight: bold !important;
  }
  .vh-100{
    height: 100vh !important;
  }
