html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: $white-smoke;
  font-family:  Poppins-Regular, Poppins-Light, Poppins-Bold, Poppins-SemiBold,
                Poppins-SemiBold, Poppins-Regular, Poppins-Italic, Poppins-Medium !important;
}

#mount {
  width: 100%;
}

.ant-layout {
  &-sider {
    height: 100vh;
    min-width: 275px !important;
    max-width: 275px !important;
    width: 275px !important;
    font-family: Poppins-SemiBold;
    &-collapsed {
      min-width: 80px !important;
      max-width: 80px !important;
      width: 80px !important;
      .zoom-icon {
        .nav-text {
          display: none;
        }
      }
    }
    &-children {
      height: calc(100vh - 50px) !important;
      overflow-y: scroll;
      overflow-x: hidden;
      margin-bottom: 50px;
      &::-webkit-scrollbar {
        width: .5em;
        height: 0;
        background-color: $white;
      }
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
      }
      &::-webkit-scrollbar-thumb {
        background-color: $white;
        border-radius: .5em;
      }
    }
    &-trigger {
      width: inherit !important;
      color: $white !important;
      background-color: $bg-blue !important;
    }
    &-has-trigger {
      padding-bottom: 0 !important;
    }
    &-dark {
      background-color: $white !important;
    }
  }
  .main-content {
    height: 100vh;
    overflow-y: scroll;
    background: url('/assets/city-bg.svg');
    background-repeat: no-repeat;
    background-position: bottom;
  }
}
.profile {
  &-name {
    padding: 0 .5em;
    font-family: Poppins-Bold;
    margin-bottom: 1em;
    line-height: normal;
  }
  &-role {
    padding: 0 .5em;
    line-height: normal;
    font-family: Poppins-Regular;
  }
}
.ant-menu {
  &-item {
    padding: 0 1.5rem !important;
    &-selected {
      background-color: $bg-blue !important;
      color: $white !important;
      .icon-menu {
        filter: brightness(0) invert(1);
      }
    }
  }
  &-submenu {
    background-color: unset !important;
    &-title {
      padding: 0 1.5rem !important;
    }
    &-open {
      .ant-menu {
        &-item {
          padding-left: 3.5em !important;
        }
      }
    }
    &-selected {
      background-color: unset !important;
      color: unset !important;
      .ant-menu {
        &-item {
          padding-left: 3.5em !important;
          color: unset;
          &-selected {
            background-color: $bg-blue !important;
            color: $white !important;
            font-family: Poppins-SemiBold;
          }
        }
      }
    }
  }
  .side-submenu {
    margin-bottom: -7px;
    .ant-menu-submenu-title {
      background: #fff;
    }
  }
}
.ant-input {
  &-suffix {
    display: flex;
    align-items: center;
  }
}
.img-contain {
  background-color: $grey !important;
  & > img {
    object-fit: contain !important;
  }
}
.icon-error {
  .ant-avatar {
    &-string{
      opacity: unset !important;
      position: inherit;
      left: 0;
      img {
        object-fit: cover;
        height: 103%;
        width: 100%;
      }
    }
  }
}
.banner-content {
  .ant-upload {
    width: 100% !important;
    height: 250px !important;
    .banner-preview {
      width: 100%;
      height: inherit;
    }
  }
}
.anticon {
  vertical-align: 0 !important;
}
.ant-card {
  border-radius: 10px !important;
}
.zoom-icon {
  i {
    font-size: 18px;
    transition: font-size .5s ease-in-out;
  }
  .btn-signout {
    color: unset !important;
  }
  .icon-menu {
    width: 18px;
    margin-right: .5rem;
    transition: width .5s ease-in-out;
  }
  &:hover {
    i {
      font-size: 24px;
    }
    .icon-menu {
      filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg);
      width: 24px;
    }
    .btn-signout {
      color: $blue !important;
    }
  }
}
.wrapper-loader {
  z-index: 9;
  display: flex;
  top: 0; bottom: 0;
  left: 0; right: 0;
  font-weight: bold;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .5);
  }
}
.ant-card {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
}

.text-primary2 {
  color: #2b57b7 !important;
  font-family: Poppins-SemiBold;
  text-transform: uppercase;
}
.bg-blue {
  background-color: $bg-blue;
}
.w-md- {
  &50 {
    width: 50% !important;
  }
}

@media (max-width: 768px) {
  .ant-layout {
    &-content {
      padding: 0 !important;
    }
  }
  .w-md- {
    &50 {
      width: 100% !important;
    }
  }
}

@media (max-width: 576px) {
  .wrapper {
    &-dashboard{
      h1 {
        font-size: 25px;
      }

      .row {
        .wrapper-card{
          margin-bottom: 20px;

          .card-body {
            padding: 10px;
          }
        }

        .wrapper-card-height{
          height: 20% !important;
          max-height: 100%;
          margin-bottom: 20px;

          .card-body {
            padding: 10px;
          }
        }

        .wrapper-card-col {
          height: 100% !important;

          .card{
            height: 75% !important;

            .card-body {
              padding: 10px;
            }
          }
        }
      }
    }
  }
}