.ant-btn {
  &-primary {
     background: $bg-blue !important;
     border-color: $bg-blue !important;
  }
  &-background-ghost {
    color: $bg-blue !important;
  }
  &.button {
    &-profile {
      width: 100%;
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: .5em 0 .75em 0;
      border: 0;
      font-family: Poppins-SemiBold;
    }
    &-lg {
      height: 42px;
      .las {
        font-size: 20px;
      }
    }
  }
}

.ant-btn-primary[disabled] {
  color: rgba(0, 0, 0, 0.25) !important;
  background: #f5f5f5 !important;
  border: 1px solid #d9d9d9;
  text-shadow: none;
  box-shadow: none;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #2b57b7;
  border-color: #2b57b7;
}

.button-action {
  .ant-btn {
    font-size: 18px;
  }
}

.btn-border-mitra {
  width: 100%;
  border-radius: 10px;
  border: solid 2px #2b57b7;
  padding: 5px;
  height: auto;

  span {
    font-family: Poppins-SemiBold;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2b57b7;
  }
}