.ant-table {
  &-title {
    border: none !important;
    .ant-form-item-label {
      line-height: normal;
    }
  }
  &-content {
    .ant-table-body {
      table {
        // border-radius: 10px !important;
        .ant-table-thead {
          tr {
            th {
              height: 45px;
              padding: 1em;
              // background-color: transparent;
            }
          }
        }
      }
    }
  }
  &-body {
    overflow-x: scroll;
    &::-webkit-scrollbar {
      height: .25em;
      background-color: $grey;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #ddd;
      border-radius: .5em;
    }
    .no-wrap {
      word-break: nowrap !important;
    }
  }
  &-pagination {
    width: 100%;
    display: flex;
    .ant-pagination {
      &-item {
        &-link {
          .anticon {
            vertical-align: text-top;
          }
        }
      }
      &-total-text {
        margin-left: auto;
        text-align: right;
        order: 2;
      }
    }
  }
}

.table-list {
  margin-top: 16px;
  .ant-table {
    border: 1px solid #d4e5f9;

    &-content {
      border-radius: 10px;
      &::-webkit-scrollbar {
        width: .2em;
        height: 4px;
        background-color: $white;
      }
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
      }
      &::-webkit-scrollbar-thumb {
        background-color: #2b57b7;
        border-radius: .5em;
      }
    }
  }


  .ant-table-thead > tr > th {
    background-color: rgba(43, 87, 183, 0.11);
    font-family: Poppins-Medium;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2b57b7;
  }

  .ant-table-tbody > tr > td {
    font-family: Poppins-Medium;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2c2e30;
    background: #fff;
    opacity: 0.7;
  }
}